.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons_container {
  display: flex;
  justify-content: space-between;

  max-width: 150px;
  width: 100%;
  margin: 10px auto;
}

.button {
  height: auto;
  width: auto;
  padding: 3px;

  transition: 0.1s;

  box-shadow: 0 0 7px #181c22;
  border-radius: 3px;
  border: none;
  outline: none;

  background-color: #c1e7f7;
  cursor: pointer;

  text-transform: capitalize;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 3px #181c22;
  }
}
