.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.status {
  margin-top: 10px;
}

.buttons_container {
  display: flex;
  justify-content: space-between;

  max-width: 200px;
  width: 100%;
  margin: 10px auto;
}

.button {
  height: auto;
  width: auto;
  padding: 3px;

  transition: 0.1s;

  border-radius: 3px;
  border: 1px solid #218fbe;
  outline: none;

  background-color: #c1e7f7;
  cursor: pointer;

  text-transform: capitalize;

  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 3px #181c22;
  }
}

.input {
  display: block;
  width: 60px;
  height: 25px;
  margin: 5px auto;
  border: 1px solid #218fbe;
  border-radius: 3px;
  outline: none;
  text-align: center;
}
